.screen {
  width: max-content;
  margin: 0 auto; 
  border: 4px double black;
  border-radius: 30px;
}
body{
	font-size: 12pt;
}
.bubble{
	margin-left:auto;
	margin-right:auto;
	border: 4px double black;
	border-radius: 20px;
	background: linear-gradient(to top left, powderblue, pink);
	opacity: 0.9;
	overflow:hidden;
}
.bubble-content{
	display: block;
	margin: 20px;
	overflow-y:scroll;
	box-sizing: border-box;
}
.board{
	margin-left:auto;
	margin-right:auto;
	border: 4px double black;
	border-radius: 20px;
	background: #3f4754;
	overflow:hidden;
}
.board-content{
	display: block;
	margin: 20px;
	overflow-y:scroll;
	box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
  position: 100px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f155; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8885; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5555; 
}			

.code-palette{
	width: 100%;
	height: 700
}