<!DOCTYPE>
<meta charset="UTF-8">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('engine.static', filename='tan_engine/css/tan_engine.css') }}">
	<script src="{{ url_for('engine.static', filename='tan_engine/js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('engine.static', filename='tan_engine/js/tan_engine.js') }}"></script>
	<style type="text/css">
		body{
			background: url({{ url_for('engine.static', filename='tan_engine/back.jpg') }}) repeat;
		}
	</style>
</head>
<body>

<div  class='screen'>
	<canvas id = 'canvas' width="600" height="400"  class='screen'>
	</canvas>
</div>

	<script>


	var options={
		//настройки полотна
		canvas:{
			width: 1024,
			height: 800,
			color: 'black',
			canvas: $('#canvas')
		},
		//настройки пузыря
		bubble:{
			height: 200
		},
		//ресурсы
		resources:{
		}
	};

	data = {"id":2};
	$.ajax({
		method:'POST',

		data:data,
		url: 'http://127.0.0.1:5000/game/ajax_test/',
		dataType:'json',
		success: function(data){
			var game = new TanEngine(options);
			game.start(data);
		},
		error: function (error){
			alert('hui:'+eval(error.status)+':'+error.responseText);
		}
	});
	</script>

</body>
</html>
