<!DOCTYPE>
<meta charset="UTF-8">
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('engine.static', filename='tan_engine/css/tan_engine.css') }}">
	<script src="{{ url_for('engine.static', filename='tan_engine/js/jquery-3.3.1.min.js') }}"></script>
	<script src="{{ url_for('engine.static', filename='tan_engine/js/tan_engine.js') }}"></script>
	<style type="text/css">
		body{
			background: url({{ url_for('engine.static', filename='tan_engine/back.jpg') }}) repeat;
		}
	</style>
</head>
<body>
{% include "engine/code_palette.html" %}
<div  class='screen'>
	<canvas id = 'canvas' width="600" height="400"  class='screen'>
	</canvas>
</div>

	<script>

	
	var options={
		//настройки полотна
		canvas:{
			width: 1024,
			height: 800,
			color: 'black',
			canvas: $('#canvas')
		},
		//настройки пузыря
		bubble:{
			height: 200
		},
		//ресурсы
		resources:{
		}
	};

	script = {
		'resources':{
			'imgs': {
				'ch1': '{{url_for("engine.static",filename="tan_engine/ch_giselle1.png")}}',
				'ch2': '{{url_for("engine.static",filename="tan_engine/ch_vel1.png")}}',
				'ch2_big': '{{url_for("engine.static",filename="tan_engine/ahhhh.png")}}',
				'sc1': '{{url_for("engine.static",filename="tan_engine/sc_room.jpg")}}',
				'sc2': '{{url_for("engine.static",filename="tan_engine/sc_kitchen.jpg")}}',
				'end': '{{url_for("engine.static",filename="tan_engine/the_end.png")}}'
			}
		},
		'script':[
			['scene',{'img':'sc1'}],
			['char',{'img':'ch1', 'position':'center'}],
			['say',{'char':'незнакомка', 'text':'Доброе утро, меня зовут Джизель. Я пришла к вам домой для демонстрации нашего нового движка для визуальных новел.'}],
			['say',{'char':'Джизель', 'text':'А? Что?! Постойте, как убраться из вашего дома?! Пусть наш движок еще пока и не идеален, он уже достаточно мощный чтобы городо нести имя "Движок для визуальных новел"!'}],
			['say',{'char':'Джизель', 'text':'Пройдем на кухню, там пройдет основная презентация :)'}],
			['send_request',{'url':'http://www.volpi.ru', 
				'method':'GET',
				'data':null}],
			['label','l1'],
			['menu',[
					{'text':'Согласится', 'to':'l3'},
					{'text':'Отказать', 'to':'l2'}
			]],
			['label','l2'],
			['say',{'char':'Джизель', 'text':'Да не ломайся ты!'}],
			['to','l1'],
			['label','l3'],
			['scene',{'img':'sc2'}],
			['char',{'img':'ch1', 'position':'left'}],
			['say',{'char':'Джизель', 'text':'Вот мы и очутились на кухне. Не впечатлило?'}],
			['say',{'char':'Джизель', 'text':'Тогда я готова вам продемонстрировать кое-что по настоящему интересное.'}],
			['say',{'char':'Джизель', 'text':'Для этого мне понадобится помощь моей ассистентки.'}],
			['say',{'char':'Джизель', 'text':'Джузеппо!!!'}],
			['char',{'img':'ch2', 'position':'right'}],
			['say',{'char':'Джузеппо', 'color':'blue', 'text':'Вызывали?'}],
			['scene',{'img':'sc2'}],
			['char',{'img':'ch2', 'position':'center'}],
			['say',{'char':'Джузеппо', 'color':'blue', 'text':'Короче, либо ты покупаешь движок, либо я убью тебя прямо тут. И никто тебе не поможет.'}],
			['char',{'img':'ch2_big', 'position':'center'}],
			['say',{'char':'Джузеппо', 'color':'blue', 'text':'Никто...'}],
			['scene',{'img':'end'}],
	]};
	data={'id':1};
/*	$.ajax({
		method:'POST',
		dataType: 'json',
		data: data,
		url: 'http://127.0.0.1:5000/game/ajax_test/',
		success: function(data){
			var game = new TanEngine(options);
			game.start(data[data]);
		}
	});*/
	</script>

</body>
</html>
