{% extends "bootstrap/base.html" %}
{% block title %}This is an example page{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <div class="container-fluid">
     <div class="navbar-header">
       <a class="navbar-brand" href="/">(рабочее название проекта)</a>
     </div>
     <ul class="nav navbar-nav">
       <li class="active"><a href="/">Главная</a></li>
       <li><a href="/game">Учить питон!</a></li>
      {% if current_user.is_anonymous %}
       <li><a href="/login">Войти</a></li>
      {% else %}
       <li><a href="/logout">Выйти</a></li>
      {% endif %}
     </ul>
   </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}
